:80 {
	root * /usr/share/caddy

    encode zstd gzip

    header Cache-Control max-age=3600

	# Enable the static file server.
	file_server {
        precompressed br gzip
    }

    handle_errors {
        rewrite * /404.html
        file_server
    }
}
